@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #0f0f0f;
  --secondary: #272829;
  --white-accent: #eeeeee;
  --red-accent: #cf0a0a;
  --blue-accent: #11468f;
}

body {
  min-height: 3000px;
}

/* nav */

.container-nav {
  width: 100%;
  height: max-content;
  padding: 0 10px;
  position: fixed;
  background: none;
  color: var(--white-accent);
  z-index: 999;
}

nav {
  max-width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  margin: auto;
  padding: 0 20px;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

.sticky {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  margin-top: 10px;
  border-radius: 50px;
  border: 2px solid var(--white-accent);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: var(--white-accent);
  font-weight: 600;
  padding-bottom: 1px;
  transition: 0.1s ease-in-out;
}

nav ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--white-accent);
}

nav .humberger img {
  width: 30px;
  height: 30px;
  background-color: var(--white-accent);
  border-radius: 50%;
  padding: 5px;
  margin-top: 20px;
  display: none;
}

/* hero */

.container-hero {
  width: 100%;
  height: max-content;
  padding-bottom: 100px;
  background-color: var(--primary);
}

.hero {
  max-width: 1200px;
  height: 850px;
  margin: auto;
  padding: 150px 20px;
}

.hero .text-content {
  max-width: 100%;
  height: max-content;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: var(--white-accent);
}

.text-content u {
  color: var(--primary);
}

.hero p {
  color: var(--white-accent);
  text-align: center;
}

.hero .logo-spin img {
  width: 350px;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
  left: -100px;
  top: -50px;
  animation-name: spinning;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll-down {
  padding-top: 150px;
  text-align: center;
}

.scroll-down a {
  color: var(--white-accent);
}

.scroll-down p {
  animation-name: scrolldown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scrolldown {
  0% {
    margin-top: 10px;
  }

  50% {
    margin-top: -10px;
  }

  100% {
    margin-top: 10px;
  }
}

/* waves */
.waves-our-class {
  width: auto;
  height: 400px;
  background-image: url(../assets/images/wave-square.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -370px;
}

/* our class */

.container-our-class {
  width: 100%;
  height: max-content;
  padding-bottom: 100px;
  background-color: var(--secondary);
}

.our-class {
  max-width: 1200px;
  min-height: 1500px;
  margin: -2px auto 0 auto;
  padding: 150px 20px;
}

.line-y-our-class {
  width: 5px;
  height: 750px;
  background-color: var(--white-accent);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 550px;
}

.our-class h2 {
  width: max-content;
  margin: auto;
  left: 42%;
  color: var(--primary);
  background-color: var(--white-accent);
  font-size: 45px;
  border-radius: 10px;
}

.our-class .all-class {
  display: flex;
}

/* rpl */
.our-class .rpl-class {
  max-width: 50%;
  min-height: 300px;
  margin-top: 100px;
}

.rpl-class .line-x {
  width: 55%;
  height: 5px;
  background-color: var(--white-accent);
  margin-left: 45%;
  display: flex;
  justify-content: space-between;
}

.line-y-in-x {
  width: 5px;
  height: 110px;
  background-color: var(--white-accent);
}

.card-rpl-class {
  margin-top: 100px;
  text-align: center;
  margin-right: 50px;
}

.content-card-rpl-class {
  background-color: var(--white-accent);
  padding-bottom: 20px;
  border-radius: 10px;
}

.content-card-rpl-class .img-class {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content-card-rpl-class p {
  padding: 0 10px;
}

.content-card-rpl-class .show-description-icon {
  display: none;
}

.content-card-rpl-class .hidden-description {
  display: none;
}

.content-card-rpl-class .show-description {
  display: block;
  margin: auto;
}

.show-description-icon .show-down {
  display: block;
  margin: auto;
}

.show-description-icon .hidden-down {
  display: none;
}

.show-description-icon .show-up {
  display: block;
  margin: auto;
}

.show-description-icon .hidden-up {
  display: none;
}

/* tkj */
.our-class .tkj-class {
  max-width: 50%;
  min-height: 300px;
  margin-top: 100px;
}

.tkj-class .line-x {
  width: 55%;
  height: 5px;
  background-color: var(--white-accent);
  margin-right: 45%;
  display: flex;
  justify-content: space-between;
}

.line-y-in-x {
  width: 5px;
  height: 110px;
  background-color: var(--white-accent);
}

.circle-tkj-in-line-x {
  width: max-content;
  height: 50px;
  border-radius: 50px;
  background-color: var(--white-accent);
  margin-top: -25px;
  margin-left: -60px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-tkj-class {
  margin-top: 100px;
  text-align: center;
  margin-left: 50px;
}

.content-card-tkj-class {
  background-color: var(--white-accent);
  padding-bottom: 20px;
  border-radius: 10px;
}

.content-card-tkj-class .img-class {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content-card-tkj-class p {
  padding: 0 10px;
}

.content-card-tkj-class .show-description-icon {
  display: none;
}

.content-card-tkj-class .hidden-description {
  display: none;
}

.content-card-tkj-class .show-description {
  display: block;
  margin: auto;
}

.show-description-icon .show-down {
  display: block;
  margin: auto;
}

.show-description-icon .hidden-down {
  display: none;
}

.show-description-icon .show-up {
  display: block;
  margin: auto;
}

.show-description-icon .hidden-up {
  display: none;
}

/* waves members */
.waves-members {
  width: auto;
  height: 400px;
  background-image: url(../assets/images/wave-members.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -370px;
}

/* members */

.container-members {
  width: 100%;
  height: max-content;
  padding-bottom: 100px;
  background-color: var(--primary);
}

.members {
  max-width: 1200px;
  min-height: 1500px;
  margin: -2px auto 0 auto;
  padding: 150px 20px;
  color: var(--white-accent);
}

.members h2 {
  font-size: 45px;
  text-align: center;
}

.members h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
}

.all-card-members {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 20px;
  /* background-color: var(--secondary); */
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 50px;
  margin-bottom: 100px;
  overflow-x: scroll;
}

.members .slide-right {
  width: 40px;
  height: 40px;
  background-color: var(--white-accent);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  margin-top: 300px;
  z-index: 9;
  animation-name: slide-right-animation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes slide-right-animation {
  0% {
    margin-right: 0;
  }

  50% {
    margin-right: -10px;
  }

  100% {
    margin-right: 0;
  }
}

.slide-right img {
  transform: rotateZ(-90deg);
}

.slide-right:hover {
  background-color: var(--blue-accent);
  transition: 0.2s ease-in-out;
}

.members .slide-left {
  width: 40px;
  height: 40px;
  background-color: var(--white-accent);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  margin-top: 300px;
  z-index: 9;
  animation-name: slide-left-animation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes slide-left-animation {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: -10px;
  }

  100% {
    margin-left: 0;
  }
}

.slide-left img {
  transform: rotateZ(90deg);
}

.slide-left:hover {
  background-color: var(--blue-accent);
  transition: 0.2s ease-in-out;
}

.all-card-members .card-members {
  width: 350px;
  height: max-content;
  background-color: var(--secondary);
  /* background-color: var(--primary); */
  border-radius: 5px;
  text-align: center;
  padding: 15px;
}

.card-members img {
  width: 320px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-members .text-card-members h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.text-card-members img {
  width: 35px;
  height: 35px;
  padding: 7px;
  border-radius: 50%;
  background-color: var(--white-accent);
  margin-top: 10px;
}

.text-card-members img:hover {
  background-color: var(--blue-accent);
}

/* copyright */

.copyright {
  background-color: var(--primary);
  padding-bottom: 10px;
}

.copyright img {
  width: 15px;
  color: var(--white-accent);
}

.copyright p {
  text-align: center;
  color: var(--white-accent);
}

.copyright p a {
  color: var(--white-accent);
}

.copyright p a:hover {
  text-decoration: underline;
}

/* Media Query */
@media only screen and (max-width: 700px) {
  /* nav */
  nav .show-ul {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    border: 1px solid var(--white-accent);
    border-radius: 10px;
    margin-top: 100px;
    padding: 0 20px;
    position: absolute;
    right: 10px;
    text-align: end;
    transition: 0.3s ease-in-out;
  }

  nav .hidden-ul {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    border: 1px solid var(--white-accent);
    border-radius: 10px;
    margin-top: 100px;
    padding: 0 20px;

    position: absolute;
    right: -500px;
    text-align: end;
    transition: 0.3s ease-in-out;
  }

  nav .humberger img {
    display: block;
  }

  nav .humberger .show-right {
    display: block;
  }
  nav .humberger .hidden-right {
    display: none;
  }

  nav .humberger .show-x {
    display: block;
  }

  nav .humberger .hidden-x {
    display: none;
  }

  /* hero */
  .hero .text-content {
    font-size: 35px;
  }

  /* our class */

  .our-class {
    min-height: 1000px;
  }

  .content-card-rpl-class p {
    display: none;
  }

  .content-card-rpl-class .show-description-icon {
    display: block;
    margin: auto;
  }

  .content-card-rpl-class .dekstop-description {
    display: none;
  }

  /* tkj */
  .content-card-tkj-class .show-description-icon {
    display: block;
    margin: auto;
  }

  .content-card-tkj-class .dekstop-description {
    display: none;
  }

  /* members */

  .all-card-members .card-members {
    width: 330px;
  }

  .card-members img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .text-card-members img {
    width: 35px;
    height: 35px;
  }
}
